# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.HashingLib.iml
# Datasource local storage ignored files
/../../../../../../../:\Development\Libraries\HashingLib\.idea\.idea.HashingLib\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
